# Arquivos de ambiente
.env

# Scripts específicos do Windows
*.ps1

# Arquivos compilados Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
ENV/

# Configurações de IDE
.idea/
.vscode/
*.swp

# Logs e dados
logs/
backups/
*.log

poetry.lock