# Arquivos de ambiente
.env

# Scripts específicos do Windows
*.ps1

# Arquivos compilados Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
ENV/

# Configurações de IDE
.idea/
.vscode/
*.swp

# Logs e dados
logs/
backups/
*.log

# Diretórios de dados e armazenamento
/postgres-data/
/redis-data/
/model-storage/
/grafana-data/
/prometheus-data/

# Arquivos de deployment
/deployment/prometheus/

# Arquivos gerados durante a execução
coverage.xml

poetry.lock